*/vscode/*
*/ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/__pycache__/*
*.pyc
*/.pytest_cache/*
*.pypirc
**build/*
**/dist/*
*/Debug/
x64/
.vs
.vscode/
.DS_Store
**log.txt
*__pycache__*
**.egg-info/*
*setup.py
*PKG-INFO*
*Tutorial_PyPI.md
*dist/*
*build/*
